<header>
<nav class = "be-red white large-padding">
    <ul style="list-style: none;" class = "row center-xs">
    <li class = "col-md">
        <h1 class = "no-margin">Ponele Critica</h1>
    </li>
    <li class = "col-md">
        <%= link_to "Inicio", root_path %>
    </li>
    <li class = "col-md">
        Peliculas
    </li>
    <li class = "col-md">
        Tablas
    </li>
    <li class = "col-md">
        Conocenos
    </li>

    <% if user_signed_in? %>
        <li class = "col-md">
        <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete %>
        </li>

    <%else%>
        <li class = "col-md">
        <%= link_to "Iniciar sesion", new_user_session_path %>
        </li>
        <li class = "col-md">
        <%= link_to "Crear cuenta", new_user_registration_path %>
        </li>
    <%end%>
    </ul>
</nav>
</header>